header{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}
header a:not(:first-child){
    float: right;
}
header a{
    font-size: x-large;
    margin: 0px 5px 0px 0px;
}
.left {
    float: left;
    margin-right: 200px;
}
.left ul{
    text-transform: capitalize;
    list-style: none;
}
.left ul li:hover{
    background-color: #ff9933;
}
.left ul li{
    display: block;
    font-size: x-large;
}
.middle{
    float: left;
    width:calc(75% - 50px);
    margin-bottom: 50px;

}
.middle img{
    width: 100%;
    object-fit: cover; /*=> có cũng như không*/
}
.right{
    clear: both;   
}
.right h1{
    text-align: center;
    margin-bottom: 50px;
}
.right div{   
    float: left;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: large;
}
.right div p{
    text-align: center;
}
.right div p span{
    font-size: 2em;
}
footer{
    clear: both;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px 5px 0px;
    
}
@media screen and (max-width:768px){
    header{      
        margin: auto;
        display: flex;
    }
    header a input{
        width: 400px;
    }
    header a:first-child{
        display: flex;
        margin: auto 50px auto;
    }
    .left{
        margin: 10px 0px 0px 0px;
        background-color: #ff9933;
        width: 100%;

    }
    .left ul{
        display: flex;
        flex-direction: row;
    }
    .left ul li{
        margin: auto;
    }
    .middle{
        width: 100%;
    }
    .right h1{
        text-align: left;
    }
    .right{
        display: flex;
        flex-direction: column;
    }.right div{
        margin: 0px auto 50px auto;
    }
    .right div p{
        width: 400px;
        text-align: center;
    }

}
